

h1{
	color: black;
	font-family: courier;
	transition: 2s;
}
h1:hover {
	font-size:40px;
	font-family:cooper black;
	color: purple;
	transition: 2s;
}

p{
	color:red;
	font-family: courier;
}